*{
    text-align: center;
}

.srp {
    font-weight: 900;
    font-size: 20px;
}

.who {
    font-weight: 700;
    font-size: 20px;
}

.who1 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}

.bt {
    /* margin-top: 10px; */
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
    font-size: 30px;
}

.vs{
    font-weight: 900;
    font-size: 30px;
}
.bt1 {
    width: 250px;
    height: 200px;
    font-size: 30px;
}

.imm {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.bt2{
    margin-top: 10px;
}